.bloc-img-poster img {
  width: 250px;
  height: 300px;
}

.bloc-info-movie {
  width: 300px;
  padding: 0 30px;
}

.bloc-info-movie .info {
  margin-bottom: 25px;
}

.bloc-info-movie .info .info-txt {
  line-height: 1.6;
}
